.co-btn {
  border: 0;
  border-radius: 50px;
  background: $white-color;
  color: $primary-color;
  cursor: pointer;
  display: inline-block;
  outline: none;
  overflow: hidden;
  padding: 16.5px 36.5px;
  z-index: 1;

  position: relative;
  transition: all 0.3s ease;

  font-weight: 600;
  font-size: 22px;
  line-height: 30px;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: $primary-color;
    transition: all 0.3s ease;
  }
  &:hover,
  &:focus,
  &:active {
    color: $white-color;
    &:after {
      top: auto;
      bottom: 0;
      height: 100%;
    }
  }

  @media screen and (max-width: 1599px) {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 23px;
  }

  @media screen and (max-width: 768px) {
    padding: 10px 30px;
    font-size: 17px;
    line-height: 20px;
  }
}

.rounded-btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  padding: 20px 55px;
}

.kungfu-btn {
  min-width: 110px;
  min-height: 44px;
  padding: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  align-self: flex-end;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .btn-label {
    position: relative;
    z-index: 1;
    font-family: $black-han-sans;
    line-height: 125%;
    font-size: 1rem;
    color: white;
  }
}
