.swiper-dojo-container {
  display: flex;
  justify-content: center;
  &.custom-container {
    padding-bottom: 0;
  }

  .swiper-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
    // margin-bottom: 100px;
    max-width: 700px;
    z-index: 2;

    .swiper-description {
      color: #454545;
      text-align: center;
      font-weight: 400;
      padding: 0 0;
      max-width: 800px;
      width: 75%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
      top: 44%;
      transition: opacity 0.5s ease;
      opacity: 1;
      transition-behavior: allow-discrete;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .active-title {
        font-size: clamp(16px, 1.2vw, 24px);
        line-height: clamp(25px, 1.8vw, 35px);
      }

      .active-description {
        font-size: clamp(16px, 1.2vw, 22px);
        line-height: clamp(25px, 1.8vw, 35px);
      }
    }

    .dojo-container {
      position: relative;
      width: 100%;
      height: 50vw;

      .dojo {
        // position: absolute;
        // top: -21vw;
        // left: 0;
        transform: translateX(-50%);
        position: absolute;
        top: -25%;
        left: 50%;
        max-width: 750px;
      }

      .ground {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        // width: 85%;
        left: 50%;

        // @media screen and (max-width: 1300px) {
        //   bottom: 0;
        // }

        // @media screen and (min-width: 1599px) {
        //   bottom: 0;
        // }
      }
    }

    .swiper {
      width: 100%;
      // max-width: 1200px;

      .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .swiper-placeholder {
          filter: brightness(0%) invert(1);
          position: relative;
        }

        .swiper-image {
          position: absolute;
          max-width: 50%;
          opacity: 0.5;
          // transition: all 1s ease;
        }
      }

      .swiper-slide-active {
        .swiper-placeholder {
          filter: none;
        }

        .swiper-image {
          opacity: 1;
        }
      }
    }

    .swiper-slide-active div {
      display: block;
      opacity: 1;
    }

    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right {
      background-image: none;
    }
  }
}
